
/*Base HTML */

body {
    background-color: rgb(198, 198, 174)
}

.navbar{
    background-color: #517664;
    color: #d7d7d7;

}

.navbar .navbar-brand {
    color: #fff3cd;

}

/* Login Page */

form .btn {
    background-color: #517664;
    color: #fff3cd; ;
}

/*Sign up*/

form .errorlist {
    color: red;
}