
/*Base HTML */

body {
    background-color: rgb(198, 198, 174)
}

.navbar{
    background-color: #517664;
    color: #fff3cd

}

nav .nav-link{
color: #fff3cd;
}


.navbar .navbar-brand {
    color: #fff3cd;

}

nav .navbar-toggler{
    color: #fff3cd;
    background-color: #fff3cd;
    border: 1px #517664;
}

.container .edit-profile{
    background-color: #517664;
    color: #fff3cd;
}

/* Login Page */

form .btn {
    background-color: #517664;
    color: #fff3cd; ;
}

/*Sign up*/

form.errorlist {
    color: red;
}

/* Create Trip */

.form-step{
  display: none; 
}

.form-step.active {
    display: block; 
}

#progressBar {
    width: 20%;
    background-color: #517664;
}

#tripForm .next-step{
    margin:10px;
    
    
}