{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Travel Planner{% endblock %}

{% block content %}
<!-- Hero Section -->
<header class="hero-section d-flex align-items-center">
    <div class="container text-center text-white">
        <h1 class="display-4">Plan Your Next Adventure</h1>
        <p class="lead">Organise your itinerary, track expenses, and make the most of your travels.</p>
        <a href="{% url 'create_trip' %}" class="btn btn-lg mt-3 w-30 w-sm-auto">Get Started</a>
    </div>
</header>

<!-- Features -->
<div class="row">
    <div class="col-12 col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Create trips</h5>
                <p class="card-text">Organise trips with us seamlessly</p>
                <a href="#" class="btn w-50 w-sm-auto">Create</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Keep my trips in the one place</h5>
                <p class="card-text">View multiple trips on your own trip dashboard</p>
                <a href="#" class="btn w-50 w-sm-auto">View</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Plan each and every detail</h5>
                <p class="card-text">Trip details are saved</p>
                <a href="#" class="btn w-50 w-sm-auto">Details</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
