{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
<div class="container mt-5">
   <div class="row justify-content-center">
      <div class="col-md-6">
         <div class="card shadow p-4">
            <h2 class="text-center">Delete Profile</h2>
            <form method="post">
               {% csrf_token %}
               {{ form.as_p }}
               <p>Are you sure you want to delete your profile?</p>
               <button type="submit" class="btn btn-danger w-100 mt-3" aria-label="delete profile">Delete</button>
            </form>
            <a href="{% url 'profile' %}" class="btn trip-btn w-100 mt-2" aria-label="cancel">Cancel</a>
         </div>
      </div>
   </div>
</div>
{% endblock %}