/*Base HTML */

body {
    background-color: #ffffff;
}

.navbar{
    background-color: #517664;
    color: #fff3cd;

}

nav .nav-link{
color: #fff3cd;
}


.navbar .navbar-brand {
    color: #fff3cd;

}

nav .navbar-toggler{
    color: #fff3cd;
    background-color: #fff3cd;
    border: 1px #517664;
}

/* Home page */
.hero-section {
    background: url("/static/images/travel-hero-img1920.jpg") no-repeat center center/cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top:3rem;
    margin-bottom: 3rem;
}

.hero-section .container {
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    
}

.hero-section .btn{
    background-color: #517664;
    color:#fff3cd
}

div .card-body{
    background-color: #dbcfb6;
}

#home-btn {
    background-color: #517664;
}

.features-background {
    background-color: #f0f0f0; /* Light grey or any color you prefer */
    padding: 20px 0; /* Optional: Adjust padding if needed */
}


/* My Trips*/












/* Responsive */
@media (max-width: 1200px) {
    .hero {
        background-image: url("/static/images/travel-hero-img1200.jpg");
    }
}

@media (max-width: 600px) {
    .hero {
        background-image: url("/static/images/travel-hero-img600.jpg");
    }
}
